 /* Inicio */
 .carousel, .carousel-inner > .item > img {
    
    width: 60%;
    height: 90%;
    text-align: center;
    position: relative;
    left: 19%;
  }


.logo{
    width: 41px;
    height: 41px;
    border-radius: 50%;   
    margin-left: 5px;
}
 /* fin Inicio */



/* RRSS */



.logos-end{
    position: fixed;
    position: sticky;
    bottom: 50%;
    display: block;
    
}

.RRSS-face{
    width: 50px;
    margin: -50px 0px;
    position: absolute;
    transition: all 0.5s;
    
}

.RRSS-insta{
    width: 0px;
    margin: 0;
    position: absolute;
    transition: all 0.5s;
}

.RRSS-twitt{
    width: 0px;
    margin: 50px 0px;
    position: absolute;
    transition: all 0.5s;
}



.RRSS-face:hover{
    margin-left: 1%;  
}

.RRSS-insta:hover{
    margin-left: 1%;  

}

.RRSS-twitt:hover{
    margin-left: 1%;  

}

.img-RRSS{
    width: 50px;

}

/* fin RRSS */

 /* OFERTAS */
.fondo-oferta1{
    background-size: cover;
    background-repeat: no-repeat; 
    margin: auto; 

}

.oferta1{
    width: 100%;
    height: 320px;
    position: relative;

}

.oferta1-image{
    position:absolute;
    margin: auto;
    bottom: -10%;
    width: 100%;
    max-width: 400px;
}

.texto-oferta1{
    border: 2px solid white;
    color: white;
    margin-top: 14%;
    font-size: 46px;

}



.fondo-oferta2{
    background-size: cover;
    background-repeat: no-repeat; 
    margin: auto; 
    margin-top: 2%;

}

.oferta2{
    width: 100%;
    height: 320px;
    position: relative;

}

.oferta2-image{
    position:absolute;
    top: 20px;
    left: 70px;
    width: 100%;
    max-width: 300px;
}

.texto-oferta2{
    border: 2px solid white;
    color: white;
    margin-top: 14%;
    font-size: 46px;

}



.fondo-oferta3{
    background-size: cover;
    background-repeat: no-repeat; 
    margin: auto; 
    margin-top: 2%;

}

.oferta3{
    width: 100%;
    height: 320px;
    position: relative;

}

.oferta3-image{
    position:absolute;
    width: 100%;
    max-width: 400px;
 
}

.texto-oferta3{
    border: 2px solid white;
    color: white;
    margin-top: 14%;
    font-size: 46px;

}

 /* fin OFERTAS */

 body{
    overflow-x: hidden;
    background-color: rgb(221, 139, 31);
    background-size: cover;
    background-repeat: no-repeat;
    
}
/* SubMenu */

.submenu{
    text-align: center;
    background-color: #000000;
    color: rgb(238, 176, 4);
    border-bottom:  2px solid rgb(0, 0, 0); 
    border-bottom-left-radius: 50%; 
    border-bottom-right-radius: 50% ;
}

/* Fin SubMenu */

 /* categorias */

 h2{
    font-family: 'BlockBeCnPro', Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: 1; 
    text-align: center;
}

/* Fin categorias */

 /* Navegador */
 .link-nav{
    font-size: larger;
    color: white;
}

.menuI{
    background-color: #a5620bf6;
    width: 100%;
    color: white;
}

 /* fin navegador */


 /* Hovers */

.link-nav:hover{
    background-color: brown;
    color: aliceblue;
}

.Nmenu:hover{
    text-decoration: none;
    color: #000;
}

.Nmenu:hover::before{
    width: 100%;
 
}

.Nmenu:hover::after{
    width: 100%;
 
}
 /* fin de hovers */

 @media screen and (max-width: 400px) {
    .carousel, .carousel-inner > .item > img {

        width: 80%;
        height: 90%;
        text-align: center;
        position: relative;
        left: 10%;
      }


   
}